.App {
  text-align: center;
}

.nav-bar {
  background-color: #282c34;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background: linear-gradient(#c52e1a,#352236);
  min-height: 84vh;
}

.name {
  position: relative;
  top: 15vh;
  left: 15vw;
  width: fit-content;
  color: white;
  font-size: 6em;
}

.title {
  position: relative;
  top: 15vh;
  left: 15vw;
  width: fit-content;
  color: white;
  font-size: 2em;
}
