.App {
  text-align: center;
}

.nav-bar {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background: linear-gradient(#c52e1a,#352236);
  min-height: 90vh;
}

.name {
  border: 1px solid blue;
  position: relative;
  top: 25vh;
  left: 30vw;
  width: fit-content;
  color: white;
  font-size: 6em;
}
